{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Koszyk{% endblock %}
{% block body %}
    <h5>Koszyk</h5>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <p class="alert alert-{{ label }}">
                {{ message }}
            </p>
        {% endfor %}
    {% endfor %}
    {% if cart is not empty %}
        <div class="cart">
            <table>
                <tr>
                    <th>Lp.</th>
                    <th>Nazwa produktu</th>
                    <th>Ilość</th>
                    <th>Cena</th>
                    <th>Wartość</th>
                    <th>Operacje</th>
                </tr>
                {% for item in cart %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.count }}</td>
                        <td>{{ item.product.price | number_format(2, ',', ' ') }}zł</td>
                        <td>{{ (item.product.price * item.count) | number_format(2, ',', ' ') }}zł</td>
                        <td><a href="{{ path('app_cart_remove', {'productId' : item.product.id}) }}">usuń</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% if app.user %}
            <p class="alert">
                Możesz <a href="{{ path('app_cart_pdf') }}">wydrukować</a> zamówienie lub kliknąć przycisk
                <a href="{{ path('app_cart_checkout') }}">zamawiam</a>, aby złożyć zamówienie
            </p>
        {% else %}
            <p class="alert">Tylko zalogowani użytkownicy mogą składać zamówienie. <a href="{{ path('app_user_login') }}">Zaloguj się</a></p>
        {% endif %}
    {% else %}
        <p class="alert">Brak produktów w koszyku</p>
    {% endif %}
{% endblock %}