<h3>Twoj zamówienie</h3>
<p>Zamówione produkty</p>
<table>
    <tr>
        <th>Lp.</th>
        <th>Nazwa produktu</th>
        <th>Ilość</th>
        <th>Cena</th>
        <th>Wartość</th>
    </tr>
    {% for item in cart %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.count }}</td>
            <td>{{ item.product.price | number_format(2, ',', ' ') }}zł</td>
            <td>{{ (item.product.price * item.count) | number_format(2, ',', ' ') }}zł</td>
        </tr>
    {% endfor %}
</table>