{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Strona główna{% endblock %}
{% block body %}
    <h5>Produkty</h5>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <p class="alert alert-{{ label }}">
                {{ message }}
            </p>
        {% endfor %}
    {% endfor %}
    {% if products is not empty %}
        <div class="products">
            <table>
                <tr>
                    <th>Nazwa produktu</th>
                    <th>Cena</th>
                    <th>Dostępna ilość</th>
                    <th>Operacje</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price | number_format(2, ',', ' ') }}zł</td>
                        <td>{{ product.stockCounter }}</td>
                        <td>
                            <form action="{{ path('app_cart_add') }}" method="post">
                                <input type="hidden" value="{{ product.id }}" name="id">
                                <input type="number" name="count" placeholder="Ilość" required="required">
                                <input type="submit" value="Dodaj do koszyka">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="navigation">
                {{ knp_pagination_render(products) }}
            </div>
        </div>
    {% else %}
        <p class="alert">Brak produktów na sprzedaż</p>
    {% endif %}
{% endblock %}