<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Medway Test Mateusz Bielinski{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="menu">
        <div class="logo">
            MBShop
        </div>
        <ul>
            <li><a href="{{ path('app_home_index') }}">Strona główna</a></li>
            <li><a href="{{ path('app_cart_list') }}">Koszyk</a></li>
            {% if app.user %}
                <li class="welcome">
                    Witaj, <span>{{ app.user.name }}</span>
                    <a href="{{ path('app_user_logout') }}">(wyloguj)</a>
                </li>
            {% else %}
                <li><a href="{{ path('app_user_login') }}">Logowanie</a></li>
                <li><a href="{{ path('app_user_register') }}">Rejestracja</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="body">
        {% block body %}{% endblock %}
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
