@import "variables";

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .menu {
    padding: 10px 30px;
    background: #aaa8a5;
    box-sizing: border-box;
    color: #fff;
    overflow: auto;

    .logo {
      font-weight: 800;
      font-size: 20px;
      float: left;
    }

    ul {
      float: right;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        float: left;
        padding: 6px 20px;
        &.welcome{
          span{
            font-weight: 600;
            color: @primary-color;
          }
        }
        a {
          text-decoration: none;
          color: #fff;

          &:hover {
            color: @primary-color;
          }
        }
      }
    }
  }

  .body {
    h5 {
      font-size: 24px;
      text-align: center;
    }

    .alert {
      text-align: center;
      a{
        text-decoration: none;
        color: @primary-color;
      }
      &.alert-notice {
        color: #ff470e;
      }
      &.alert-success{
        color: #718C00;
      }
    }

    .products, .cart {
      table {
        width: 100%;
        border-collapse: collapse;
        th, td{
          border: solid 1px #d5d5d5;
        }
        th{
          padding: 15px 0;
        }
        td {
          text-align: center;
          input[type="number"]{
            border: solid 1px #999999;
            padding: 3px;
            width: 50px;
            outline: none;
            text-align: center;
          }
          a{
            color: @primary-color;
            text-decoration: none;
            &:hover{
              color: #313131;
            }
          }
        }
      }
      .navigation{
        margin-top: 20px;
        text-align: center;
        .current{
          color: @primary-color;
        }
        a{
          text-decoration: none;
          color: #313131;
          padding: 5px;
        }
      }
    }
    #user_form{
      div{
        text-align: center;
        label{
          display: block;
        }
        input{
          text-align: center;
          border: solid 1px #999999;
          padding: 3px;
          outline: none;
        }
        ul{
          margin: 0;
          padding: 0;
          li{
            list-style: none;
            text-align: center;
            font-size: 11px;
            color: #AA3333;
          }
        }
        button{
          background: @primary-color;
          color: #fff;
          border: none;
          padding: 7px 15px;
          cursor: pointer;
          margin-top: 20px;
          &:hover{
            background: #313131;
          }
        }
      }
    }
  }
}
