{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Logowanie{% endblock %}
{% block body %}
    <form method="post">
        <h5>Logowanie</h5>
        {% if error %}
            <div class="alert alert-notice">Nieprawidłowe dane</div>
        {% endif %}
        <div id="user_form">
            <div>
                <label for="inputEmail">E-mail</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            </div>
            <div>
                <label for="inputPassword">Hasło</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
            <div>
                <button type="submit">Zaloguj</button>
            </div>
        </div>
    </form>
{% endblock %}
